<HTML>
    <head>
        <title>1153307</title>
        <meta charset="utf-8">
    </head>
    <body>
        <a href="/login">login</a><br></br>
        <form name="Form1" action='/size2json' method='POST' enctype="multipart/form-data">
            <input type="file" name="image" accept=".png">
            <button name="btn">Отправить изображение (основное задание)</button>
        </form>
        <form name="Form2" action="/showPicture" method="POST" enctype="multipart/form-data">
            <input type="file" name="image">
            <button name="btn">Вывести изображение на экран (усложнённое задание)</button>
        </form>

        <!-- Сюда покажем изображение -->
        <div id="result"></div>

        <!-- Сюда выведем данные о последнем добавленном изображении -->
        <div id="lastUploadResult"></div>

        <!-- Минимальный JavaScript. Подключение специально под Flask -->
        <script src="{{ url_for('static', filename='index.js') }}"></script>
    </body>
</HTML>