<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Users</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
        <link rel="icon" href="https://img.icons8.com/?size=100&id=60jNlf0wNMdq&format=png&color=000000">
    </head>
    <body class="bg-dark text-light">

        <!-- Кнопка "На главную" -->
        <div class="container">
            <div class="row justify-content-start">
                <a class="col-auto g-3" href="/">На главную</a>
            </div>
        </div>

        <!-- Контейнер для форм -->
        <div class="container mb-5">

            <!-- Форма для создания нового пользователя -->
            <div class="row justify-content-center">
                <form method="post" id="createUserForm" class="col-auto g-3">
                    <label>
                        Имя
                        <input type="text" class="form-control" name="username" required>
                    </label>
                    <label>
                        Почта
                        <input type="email" class="form-control" name="email" required>
                    </label>
                    <button type="submit" class="btn btn-primary">Создать пользователя</button>
                </form>
            </div>

            <!-- Форма для обновления информации о пользователе по id-->
            <div class="row justify-content-center">
                <form id="updateUserForm" class="col-auto g-3">
                    <label>
                        Новое имя
                        <input type="text" class="form-control" name="username" required>
                    </label>
                    <label>
                        Новая почта
                        <input type="email" class="form-control" name="email" required>
                    </label>
                    <label>
                        ID пользователя
                        <input type="number" class="form-control" name="user_id" required min="1">
                    </label>
                    <button type="submit" class="btn btn-warning">Обновить данные пользователя</button>
                </form>
            </div>

            <!-- Форма для удаления пользователя по имени-->
            <div class="row justify-content-center">
                <form id="deleteUserForm" class="col-auto g-4">
                    <label>
                        ID пользователя
                        <input type="number" name="user_id" class="form-control" required min="1">
                    </label>
                    <button type="submit" class="btn btn-danger">Удалить пользователя</button>
                </form>
            </div>
        </div>

        <!-- Для доп отступа -->
        <div class="container mt-5"><div class="row justify-content-center"></div></div>

        <!-- Название таблицы -->
        <div class="container mt-5">
            <div class="row justify-content-center">
                <h2 class="col-auto">Список пользователей</h2>
            </div>
        </div>

        <!-- Таблица -->
        <div class="container mt-4">
            <div class="row justify-content-center">
                <table class="table table-striped table-hover w-auto text-center table-dark">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Имя</th>
                            <th>Email</th>
                            <th>Дата и время создания</th>
                        </tr>
                    </thead>
                    <tbody id="userList">
                        <!-- Цикл по всем пользователям -->
                        {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td><a href="/users/{{ user.id }}">{{ user.username }}</a></td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.created_at }}</td>
                        </tr>
                        {% else %}
                        <tr id="emptyRow">
                            <td colspan="4" class="text-center">Таблица пуста</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Подключаем JS -->
        <script src="{{ url_for('static', path='js/users.js') }}"></script>
    </body>
</html>