AWS_ACCESS_KEY_ID=YCA******************
AWS_SECRET_ACCESS_KEY=*************************
AWS_ENDPOINT_URL=https://storage.yandexcloud.net
AWS_REGION=ru-central1
BUCKET_NAME="название вашего бакета на yandexcloud"
FLASK_SECRET_KEY="любая последовательность символов по вашему усмотрению"